@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Serial Flakes is a simple app for storing information about your personal inventory.
    
    As this is the 1.0 version at the moment, it's only good for just that.</p>
<p>In future updates, there will be some more things to have, such as the following:</p>
<ul>
    <li>Network Integration</li>
    <li>Cloud Backups</li>
    <li>Personalized Login Dashboard</li>
    <li>And more!</li>
</ul>
