@{
    ViewBag.Title = "Serial Flakes - Home";
}

<div class="jumbotron">
    <h1>SERIAL FLAKES</h1>
    <p class="lead">Welcome to Serial Flakes 1.0!</p>
    <p>Learn more about the project and check out<a href="http://github.com/Phantom-Hex/Serial-Flakes" class="btn btn-primary btn-lg"> the GitHub page!</a></p>
</div>

<div class="row">
    <h2>General News</h2>
    <h3>A personalized login space!</h3>
    <p>Whew! 1.0 has finally been put online; but it definitely seems a bit unsafe, right? Yes, yes it is. We've put the bulk of that content you have behind the login screen, so you can go ahead and inventory to your heart's content!  More will be added later!</p>
</div>